CSCAssignment2Client/CSCAssignment2Client/Web References/imgservice/ImgWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="deleteOneImageRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteOneImageRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteOneImageRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getImagesByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getImagesByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getImagesByIDResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="inUploadedBy" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="inImageData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addImageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTenRecentImages">
        <s:complexType />
      </s:element>
      <s:element name="getTenRecentImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTenRecentImagesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="deleteOneImageRecordSoapIn">
    <wsdl:part name="parameters" element="tns:deleteOneImageRecord" />
  </wsdl:message>
  <wsdl:message name="deleteOneImageRecordSoapOut">
    <wsdl:part name="parameters" element="tns:deleteOneImageRecordResponse" />
  </wsdl:message>
  <wsdl:message name="getImagesByIDSoapIn">
    <wsdl:part name="parameters" element="tns:getImagesByID" />
  </wsdl:message>
  <wsdl:message name="getImagesByIDSoapOut">
    <wsdl:part name="parameters" element="tns:getImagesByIDResponse" />
  </wsdl:message>
  <wsdl:message name="addImageSoapIn">
    <wsdl:part name="parameters" element="tns:addImage" />
  </wsdl:message>
  <wsdl:message name="addImageSoapOut">
    <wsdl:part name="parameters" element="tns:addImageResponse" />
  </wsdl:message>
  <wsdl:message name="getTenRecentImagesSoapIn">
    <wsdl:part name="parameters" element="tns:getTenRecentImages" />
  </wsdl:message>
  <wsdl:message name="getTenRecentImagesSoapOut">
    <wsdl:part name="parameters" element="tns:getTenRecentImagesResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="ImgWebServiceSoap">
    <wsdl:operation name="deleteOneImageRecord">
      <wsdl:input message="tns:deleteOneImageRecordSoapIn" />
      <wsdl:output message="tns:deleteOneImageRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getImagesByID">
      <wsdl:input message="tns:getImagesByIDSoapIn" />
      <wsdl:output message="tns:getImagesByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addImage">
      <wsdl:input message="tns:addImageSoapIn" />
      <wsdl:output message="tns:addImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTenRecentImages">
      <wsdl:input message="tns:getTenRecentImagesSoapIn" />
      <wsdl:output message="tns:getTenRecentImagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImgWebServiceSoap" type="tns:ImgWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteOneImageRecord">
      <soap:operation soapAction="http://tempuri.org/deleteOneImageRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImagesByID">
      <soap:operation soapAction="http://tempuri.org/getImagesByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addImage">
      <soap:operation soapAction="http://tempuri.org/addImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTenRecentImages">
      <soap:operation soapAction="http://tempuri.org/getTenRecentImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImgWebServiceSoap12" type="tns:ImgWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteOneImageRecord">
      <soap12:operation soapAction="http://tempuri.org/deleteOneImageRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImagesByID">
      <soap12:operation soapAction="http://tempuri.org/getImagesByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addImage">
      <soap12:operation soapAction="http://tempuri.org/addImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTenRecentImages">
      <soap12:operation soapAction="http://tempuri.org/getTenRecentImages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImgWebService">
    <wsdl:port name="ImgWebServiceSoap" binding="tns:ImgWebServiceSoap">
      <soap:address location="http://localhost:12801/ImgWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ImgWebServiceSoap12" binding="tns:ImgWebServiceSoap12">
      <soap12:address location="http://localhost:12801/ImgWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>