CSCAssignment2Client/CSCAssignment2Client/Web References/emailservice/EmailWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendActivationEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="txtEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendActivationEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="ValidateActivation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateActivationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateActivationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendActivationEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendActivationEmail" />
  </wsdl:message>
  <wsdl:message name="SendActivationEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendActivationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateActivationSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateActivation" />
  </wsdl:message>
  <wsdl:message name="ValidateActivationSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateActivationResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailWebServiceSoap">
    <wsdl:operation name="SendActivationEmail">
      <wsdl:input message="tns:SendActivationEmailSoapIn" />
      <wsdl:output message="tns:SendActivationEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateActivation">
      <wsdl:input message="tns:ValidateActivationSoapIn" />
      <wsdl:output message="tns:ValidateActivationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailWebServiceSoap" type="tns:EmailWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendActivationEmail">
      <soap:operation soapAction="http://tempuri.org/SendActivationEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateActivation">
      <soap:operation soapAction="http://tempuri.org/ValidateActivation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailWebServiceSoap12" type="tns:EmailWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendActivationEmail">
      <soap12:operation soapAction="http://tempuri.org/SendActivationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateActivation">
      <soap12:operation soapAction="http://tempuri.org/ValidateActivation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailWebService">
    <wsdl:port name="EmailWebServiceSoap" binding="tns:EmailWebServiceSoap">
      <soap:address location="http://localhost:12801/EmailWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailWebServiceSoap12" binding="tns:EmailWebServiceSoap12">
      <soap12:address location="http://localhost:12801/EmailWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>